
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.row {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap:50px
}

/* .type {
  font-size: 100px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 30px;
  font-weight: 1000;
  align-content: center;
  justify-content: center;
  
} */

.tree {
  height: 4in;
  width: 3in;
}

.input {
  width: 400px;
  height: 90px;
}
